Repository D4rkC0m3t/Multi-Tenency, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @team-lead-username, @db-admin-username, @frontend-team, @backend-team, @docs-team

docs: add deployment checklist
  DEPLOYMENT_CHECKLIST.md
Owners: @docs-team, @your-github-username

fix: update vercel config to use direct env vars
  vercel.json
Owners: @your-github-username, @team-lead-username

fix: resolve Vercel routing configuration conflict - remove duplicate routes
  vercel.json
Owners: @your-github-username, @team-lead-username

fix: resolve CategoriesPage syntax error - remove stray closing brace
  src/components/categories/CategoriesPage.tsx
Owners: @frontend-team

fix: update error handling and debugging configurations
  src/components/ErrorBoundary.tsx
  src/components/common/LoadingStates.tsx
  src/components/common/QRCodeGenerator.tsx
  src/components/reports/ReportsPage.tsx
  src/lib/sentry.ts
  src/lib/supabaseClient.ts
  src/main.tsx
  src/utils/supabaseDebug.ts
  vite.config.ts
Owners: @frontend-team, @your-github-username, @team-lead-username

feat: implement forgot password functionality and fix landing page JSX structure
  .vercelignore
  LP/LandingPage.css
  LP/LandingPage.js
  index.html
  package-lock.json
  package.json
  public/Login_background.mp4
  src/App.tsx
  src/components/auth/AuthPage.tsx
  src/components/auth/AuthPageComponent.tsx
  src/components/auth/ForgotPasswordModal.tsx
  src/components/auth/LoginForm.css
  src/components/auth/LoginForm.tsx
  src/components/auth/ResetPasswordPage.tsx
  src/components/auth/SignUpForm.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/landing/LandingPage.css
  src/components/landing/LandingPage.tsx
  src/components/landing/LottieAnimations.tsx
  src/components/layout/Navbar.tsx
  src/components/layout/Sidebar.tsx
  src/components/reports/ReportsPage.tsx
  src/contexts/AuthContext.tsx
  src/index.css
Owners: @your-github-username, @team-lead-username, @frontend-team

fix: resolve TypeScript errors in LandingPage.tsx
  src/components/landing/LandingPage.tsx
Owners: @frontend-team

fix: update vercel.json version from 3 to 2 for compatibility
  vercel.json
Owners: @your-github-username, @team-lead-username

fix: remove .vercel directory to clear cached secret references
  .vercel/project.json
  package-lock.json
Owners: @your-github-username, @team-lead-username

.github/CODEOWNERS:

# Default owners for everything in the repo
* @your-github-username @team-lead-username

# Database related files
/supabase/ @db-admin-username

# Frontend components
/src/components/ @frontend-team

# API routes
/src/api/ @backend-team

# Documentation
/*.md @docs-team @your-github-username
